// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status {
  border-bottom: 5px solid #D1D1FF;
  padding: 5px;
}

.btn {
  background: #E6B5FF;
  text-decoration: none;
}

.status p span {
  display: none;
}

.status.hover p span {
  display: inline;
}

.status.hover {
  background: #EDFFFF;
}